.navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
    width: 80vw;
    padding: 10px;
    gap: 10%;
    background-color: #1F2937;

}
#navbarText{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
.links{
    display: flex;
    width: 85%;
    justify-content: flex-end;
    font-size: 18px;
    color: #F9FAF8;
    
}
.links.list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    padding-right: 20px;
}
.HeroSection{
    display: flex;
    justify-self: center;
    width: 85%;
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1;
}
.info, .img{
    width: 50%;
    height: 500px;
    text-align: justify;
}
.img{
    align-items: center;
    justify-items: center;
    background-color: silver;
}
button{
    background-color:#3882F6;
    border-radius: 6px;
    padding: 5px;
    color: white;
}
#main{
    font-size: 48px;
    font-weight: 900;
}
#seco{
    font-size: 18px;
    color:#E5E7EB;
}